<p>
  <b>Foo:</b>
  <%=h @bar.foo_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @bar.name %>
</p>

<p>
  <b>Deleted at:</b>
  <%=h @bar.deleted_at %>
</p>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>