<h1>Listing xxes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Archived at</th>
    <th>Archive number</th>
  </tr>

<% @xxes.each do |xx| %>
  <tr>
    <td><%=h xx.name %></td>
    <td><%=h xx.archived_at %></td>
    <td><%=h xx.archive_number %></td>
    <td><%= link_to 'Show', xx %></td>
    <td><%= link_to 'Edit', edit_xx_path(xx) %></td>
    <td><%= link_to 'Destroy', xx, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New xx', new_xx_path %>