<p>
  <b>Name:</b>
  <%=h @xx.name %>
</p>

<p>
  <b>Archived at:</b>
  <%=h @xx.archived_at %>
</p>

<p>
  <b>Archive number:</b>
  <%=h @xx.archive_number %>
</p>


<%= link_to 'Edit', edit_xx_path(@xx) %> |
<%= link_to 'Back', xxes_path %>