<h1>Listing foos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Deleted at</th>
  </tr>

<% @foos.each do |foo| %>
  <tr>
    <td><%=h foo.name %></td>
    <td><%=h foo.deleted_at %></td>
    <td><%= link_to 'Show', foo %></td>
    <td><%= link_to 'Edit', edit_foo_path(foo) %></td>
    <td><%= link_to 'Destroy', foo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New foo', new_foo_path %>