<h1>Editing yy</h1>

<% form_for(@yy) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :xx_id %><br />
    <%= f.text_field :xx_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :archived_at %><br />
    <%= f.datetime_select :archived_at %>
  </p>
  <p>
    <%= f.label :archive_number %><br />
    <%= f.text_field :archive_number %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @yy %> |
<%= link_to 'Back', yys_path %>