<p>
  <b>Xx:</b>
  <%=h @yy.xx_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @yy.name %>
</p>

<p>
  <b>Archived at:</b>
  <%=h @yy.archived_at %>
</p>

<p>
  <b>Archive number:</b>
  <%=h @yy.archive_number %>
</p>


<%= link_to 'Edit', edit_yy_path(@yy) %> |
<%= link_to 'Back', yys_path %>